[run]
omit =
    */main.py
    func/src/infrastructures/*
    func/src/domain/exceptions/*
    func/src/repositories/*
    func/src/domain/models/response/*
    tests/*
    */__init__.py

# command to run
# pytest --cov-report term-missing --cov-config=.coveragerc --cov=func -v